# Query Analysis
## Filter data by - 
1. Remote / hybrid job location only.
2. Experince starting from 0 or 1 or 2 only. [Freshers]

## Queries
1. How many openings are there by jobtitle-wise?
2. How many openings are there in each of companies.
3. How many openings are there in each of salary clusters.
4. How many openings are there in each of experince clusters.
5. At last how many unique companies, salary clusters, job titles and experince clusters are there in the above filtered data.

In [454]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import pickle

In [455]:
df = pd.read_csv(r"../Database/DSjobs_Dataset.csv")
df = df.drop(columns=['Unnamed: 0'],axis=1)
df.head()

,job_title,company_name,skills,jobdescription,staticurl,experince,salary,location,company_review_count,company_rating
0,Data Scientist - Artificial Intelligence,IBM,"python,scikit-learn,tensorflow,pytorch,keras,n...",Required education . Bachelors Degree . <br><b...,https://www.naukri.com/ibm-jobs-careers-16987,3-5 Yrs,Not disclosed,Bengaluru,23410,4.0
1,Urgent Hiring For FullStack-Data Scientist-Imm...,Genpact,"Natural Language Processing,Machine Learning A...",Requirements. Bachelors degree in Computer sci...,https://www.naukri.com/genpact-jobs-careers-25103,7-12 Yrs,Not disclosed,"Hybrid - Gurugram, Bengaluru",35528,3.8
2,Data Scientist,Uplers,"Python,Data Science,SQL,Science,Data",<p><strong>Data Scientist</strong></p><br /><p...,https://www.naukri.com/uplers-jobs-careers-897026,2-5 Yrs,Not disclosed,"Pune, Ahmedabad, Mumbai (All Areas)",373,3.9
3,Data Scientist,Cars24,"Data Science,Artificial Intelligence,Machine L...",Bachelor s / Master s degree in Computer Scien...,https://www.naukri.com/cars24-jobs-careers-206...,5-8 Yrs,Not disclosed,Gurugram,3888,3.5
4,Data Scientist-Artificial Intelligence,IBM,"python,machine learning,tensorflow,pytorch,ker...",Required education . Bachelors Degree . <br><b...,https://www.naukri.com/ibm-jobs-careers-16987,3-5 Yrs,Not disclosed,Bengaluru,23410,4.0

In [456]:
def remote(i):
    t1 = ['Hybrid','hybrid']
    t2 = ['remote','Remote']
    if any(j in i for j in t1):
        return 'Hybrid'
    elif any(j in i for j in t2):
        return 'Remote'
    else:
        return 'Not Remote'
    
df['remote?'] = df['location'].apply(remote)

In [457]:
df = df[df['remote?']!='Not Remote']

In [458]:
desired_exp = ['0-2 Yrs',
'0-3 Yrs',
'0-4 Yrs',
'0-5 Yrs',
'1-10 Yrs',
'1-2 Yrs',
'1-3 Yrs',
'1-4 Yrs',
'1-5 Yrs',
'1-7 Yrs',
'2-15 Yrs'
'2-3 Yrs',
'2-4 Yrs',
'2-5 Yrs',
'2-6 Yrs',
'2-7 Yrs',
'2-8 Yrs',
'No fixed duration']

def exp_fresher(i):
    if i in desired_exp:
        return 'yes'
    else:
        'no'

df['for_fresher?'] = df['experince'].apply(exp_fresher)
df = df[df['for_fresher?']=='yes']
df.head()

,job_title,company_name,skills,jobdescription,staticurl,experince,salary,location,company_review_count,company_rating,remote?,for_fresher?
30,Data Scientist,"NTT DATA, Inc.","data science,R,data modelling,data mining,stat...",Academic Qualifications and Certifications: ....,https://www.naukri.com/ntt-data-jobs-careers-3...,2-5 Yrs,Not disclosed,Hybrid - Bengaluru,3124,4.0,Hybrid,yes
85,Data Scientist - 25 To 30 lacs. Remote,Markelytics Limited,"Data Science,Python,Algebra,Data Wrangling,Pro...",3 years of experience in data science or a rel...,https://www.naukri.com/markelytics-jobs-career...,1-3 Yrs,25-30 Lacs PA,Remote,309,4.8,Remote,yes
100,Data Scientist,AMERICAN EXPRESS,"Machine Learning,Python,SQL,Natural Language P...",Create ML models and advance algorithms to ide...,https://www.naukri.com/american-express-jobs-c...,1-3 Yrs,15-18 Lacs PA,"Hybrid - Gurugram, Delhi / NCR",3388,4.1,Hybrid,yes
116,Data Scientist,Randomtrees,"Pyspark,Machine Learning,Deep Learning,SQL,Dat...",Required Qualifications: . Bachelors or Maste...,https://www.naukri.com/randomtrees-jobs-career...,2-6 Yrs,Not disclosed,Hybrid - Chennai,37,3.3,Hybrid,yes
129,Data Scientist cum Machine Learning Engineer,Tranzita Systems,"Data Science,Data Engineering,Machine Learning...",Develop and support data pipelines for both ba...,https://www.naukri.com/tranzita-systems-jobs-c...,1-3 Yrs,3.5-6 Lacs PA,"Hybrid - Hyderabad, Lucknow",17,2.8,Hybrid,yes

### Query 1

In [459]:
print('(Job title) , no of openings')
print('-'*75)
for i in df['job_title'].value_counts().items():
    print(i)

(Job title) , no of openings
---------------------------------------------------------------------------
('Data Engineer', 25)
('Data Scientist', 21)
('Data Analyst', 11)
('Business Analyst', 10)
('Python Data Science Analyst', 5)
('Python Data Scientist', 5)
('Data Science Analyst (Python)', 4)
('Data Science Analyst', 4)
('Python Data Science Professional', 4)
('Data Scientist - Python', 3)
('AWS Data Engineer', 2)
('Senior Data Engineer', 2)
('Python Developer', 2)
('ML Engineer', 2)
('Python Analyst', 2)
('Data Science Intern', 2)
('Senior Data Scientist', 2)
('Data Analyst(English Required)', 2)
('Azure Data Engineer', 2)
('Machine Learning Engineer', 2)
('Remote Data Scientist - Python', 2)
('Machine Learning Data Scientist', 1)
('Data Scientist/Engineer (Machine Learning with PyTorch)', 1)
('Urgent Hiring Opening For Data Scientist', 1)
('Python LLM Data Scientist/Analyst', 1)
('Data Scientist - 25 To 30 lacs. Remote', 1)
('Data Scientist cum Machine Learning Engineer', 1)
('Data Scientist / ML Engineer', 1)
('Senior Data Engineer / Data Engineer', 1)
('Junior Data Engineer (Client-PDI)', 1)
('JUNIOR ETL / DATA ENGINEER (PDI)', 1)
('Data Engineer - Associate', 1)
('Data Analyst  - Data Governance Enablement & Control', 1)
('Data Engineer/Analyst', 1)
('Data & Gen AI Specialist', 1)
('Data Analyst/Data Scientist', 1)
('Data/ML Ops Engineer', 1)
('Data Analyst (English Required)', 1)
('Gcp Data Engineer', 1)
('Associate Data Engineer', 1)
('Regulatory Data Engineer', 1)
('Senior GenAI Data Engineer', 1)
('Assistant Data Scientist', 1)
('Senior Associate Data Scientist', 1)
('Data Science Associate', 1)
('Google Data Engineer', 1)
('Oracle HCM Data Analyst', 1)
('ML Data Analyst', 1)
('Immediate Joiner- Data Engineer', 1)
('Junior Data Engineer (Immediate Joiner Only)', 1)
('BI Data Engineer', 1)
('Associate Data Engineer | Pricing | Full Time Contract 18 Months', 1)
('Job opening For Data Science/Sr Data Science @ GlobalData(Hyd)', 1)
('Data Engineer - Python', 1)
('Data Engineer with Java and Kafka', 1)
('Quality Analyst (Data Science)', 1)
('Remote Data Science Analyst (Python)', 1)
('Java Data Engineer with Kafka Experience', 1)
('Aws Data Engineer', 1)
('Streaming Data Engineer (Java, Kafka)', 1)
('Full Stack Data Engineer', 1)
('Java Kafka Backend Engineer (Real-time Data Processing)', 1)
('Data Engineering Expert in Java Technologies', 1)
('Data Consultant', 1)
('Kafka Data Developer with Java and React Knowledge', 1)
('Technical Marketing Specialist - Data Science', 1)
('Remote Python Data Science Professional', 1)
('Data Engineer – Snowflake', 1)
('Data Specialist - ETL, Monitoring & Support', 1)
('DS Analyst', 1)
('Opening For Senior Machine Learning Engineer with Fareportal', 1)
('Prompt Engineer', 1)
('AI Scientist', 1)
('Data Engineer with Java Expertise', 1)
('Data Engineer (PYTHON, DBT, SQL)', 1)
('Data Engineer - R&D Precision Medicine', 1)
('Azure Developer', 1)
('AdOps Analyst', 1)
('Senior Analyst / Associate (M&A)', 1)
('Artificial Intelligence Internship', 1)
('Python Fullstack Developer', 1)
('Python- Machine Learning & LLM', 1)
('FP&A Analyst - UK Shift', 1)
('Special Projects - Internship', 1)
('Ai Ml Engineer', 1)
('Analyst', 1)
('Analyst-Fulfilment', 1)
('Business Analyst (Technical)', 1)
('AI/ML Engineer- IIT/ NIT/IIIT (Permanent Remote)', 1)
('Deal Desk Analyst', 1)
('Business Analyst - Autuskey', 1)
('Business Analyst - Demo Engineering', 1)
('Scout Analyst', 1)
('Tokenomics Analyst', 1)
('Dealflow Analyst', 1)
('Machine Learning Engineer (Search)', 1)
('Python Developers (Junior and Senior)', 1)
('Etl Developer', 1)
('Change Magician - Machine Learning Engineer', 1)
('Machine Learning Engineer - AI', 1)
('Senior Full Stack Developer', 1)
('Senior Python/Django Developer', 1)
('Solar Project Manager', 1)
('PySpark Developer', 1)
('Fullstack (BE Heavy) Engineer', 1)
('NLP Engineer', 1)
('Backend Python Engineer', 1)
('AI/ML Engineer', 1)

### Query 2

In [460]:
print('(Company name) , no of openings')
print('-'*75)
for i in df['company_name'].value_counts().items():
    print(i)

(Company name) , no of openings
---------------------------------------------------------------------------
('Turing Global India', 78)
('NTT DATA, Inc.', 6)
('Serigor', 4)
('Uplers', 3)
('Peroptyx', 3)
('Sheesha Finance', 3)
('Slash Mark', 2)
('Randomtrees', 2)
('Sledding Technologies', 2)
('FedEx', 2)
('Digilytics', 2)
('Apex One', 2)
('AMERICAN EXPRESS', 2)
('Deets Digital', 2)
('Acuity Knowledge Partners', 2)
('Decision Point', 1)
('AlgoAnalytics', 1)
('Mapup', 1)
('Markelytics Limited', 1)
('Tranzita Systems', 1)
('Zoftsolutions', 1)
('Deloitte', 1)
('TechnoIdentity', 1)
('Pripton Innovations', 1)
('ShareChat', 1)
('Ai4see', 1)
('HashedIn', 1)
('Optum', 1)
('Sphera Solutions', 1)
('Globaldata', 1)
('Chargebee', 1)
('Thomson Reuters', 1)
('Rocket Software', 1)
('EXL', 1)
('Pocket Fm', 1)
('Neuron7', 1)
('fifthnote', 1)
('Smollan Group', 1)
('Argus India Price Reporting Services', 1)
('First Advantage', 1)
('Tech9', 1)
('Altimetrik', 1)
('Mchoovers Consulting / Pacific Data Integrators', 1)
('Grid Dynamics', 1)
('Bahwan CyberTek', 1)
('Contechub', 1)
('Avtech Software', 1)
('Hudson Data', 1)
('Vertex Computer Systems', 1)
('Remotestar', 1)
('ZS', 1)
('Netomi', 1)
('Indium Software', 1)
('Infobahn Softworld', 1)
('Numentica', 1)
('Astrosoft Technologies', 1)
('Amgen Inc', 1)
('Quickbase', 1)
('Tech Tammina', 1)
('IQZ Systems', 1)
('Exavalu', 1)
('Fort Technologies', 1)
('Witqualis Technologies', 1)
('Incanus Technologies', 1)
('Slintel', 1)
('Censius Ai', 1)
('Alternative Path', 1)
('Codersbrain India', 1)
('Healthedge', 1)
('Fareportal', 1)
('LeadWinner', 1)
('Whizdm Innovations', 1)
('Dapplooker', 1)
('Omnicom Media Group', 1)
('Infosys', 1)
('KiE Square', 1)
('ANTI-Ai PRIVATE LIMITED', 1)
('Etech Global Services', 1)
('CGI', 1)
('Vitana', 1)
('ZIFF DAVIS PERFORMANCE MARKETING', 1)
('Quadrant Technologies', 1)
('Societe Generale Global Solution Centre ', 1)
('Hippo Innovations', 1)
('Harris Healthcare', 1)
('Sakon', 1)
('Assurecare Healthtech', 1)
('Spring Health Water', 1)
('Paktolus Solutions', 1)
('Scalereal Technologies', 1)
('Sainapse', 1)
('Autuskey', 1)
('Datanetiix Solutions', 1)
('Insider', 1)
('Branch International', 1)
('Tata Communications', 1)
('Turingsxyz', 1)
('Egnyte', 1)
('Fluid Ai', 1)
('ICF', 1)
('Bintech Group', 1)

### Query3

In [461]:
print('(salary cluster) , no of openings')
for i in df['salary'].value_counts().items():
    print(i)

(salary cluster) , no of openings
('Not disclosed', 180)
('Unpaid', 4)
('25-30 Lacs PA', 1)
('15-18 Lacs PA', 1)
('3.5-6 Lacs PA', 1)
('10-20 Lacs PA', 1)
('10-18 Lacs PA', 1)
('8-14 Lacs PA', 1)
('3.25-7.5 Lacs PA', 1)
('13-17 Lacs PA', 1)
('7-9 Lacs PA', 1)
('5-11 Lacs PA', 1)
('10-15 Lacs PA', 1)
('6-8 Lacs PA', 1)
('7.5-17.5 Lacs PA', 1)
('6.5-10 Lacs PA', 1)
('5-6 Lacs PA', 1)
('10-12 Lacs PA', 1)
('12-22 Lacs PA', 1)

### Query4

In [462]:
print('(Experince cluster) , no of openings')
for i in df['experince'].value_counts().items():
    print(i)

(Experince cluster) , no of openings
('2-5 Yrs', 56)
('1-5 Yrs', 24)
('1-4 Yrs', 22)
('0-5 Yrs', 20)
('1-3 Yrs', 20)
('2-4 Yrs', 13)
('2-6 Yrs', 12)
('2-7 Yrs', 9)
('0-3 Yrs', 6)
('0-2 Yrs', 5)
('No fixed duration', 4)
('1-2 Yrs', 4)
('0-4 Yrs', 3)
('1-10 Yrs', 1)
('1-7 Yrs', 1)
('2-8 Yrs', 1)

In [463]:
df1 =  df[['company_name','job_title','experince','salary','staticurl']].groupby(['company_name','job_title','experince','salary','staticurl']).count().reset_index()
df1 = df1.sort_values(by='company_name')
df1

,company_name,job_title,experince,salary,staticurl
0,AMERICAN EXPRESS,Data Engineer,2-4 Yrs,13-17 Lacs PA,https://www.naukri.com/american-express-jobs-c...
1,AMERICAN EXPRESS,Data Scientist,1-3 Yrs,15-18 Lacs PA,https://www.naukri.com/american-express-jobs-c...
2,ANTI-Ai PRIVATE LIMITED,AI Scientist,2-6 Yrs,Not disclosed,https://www.naukri.com/anti-ai-jobs-careers-12...
3,Acuity Knowledge Partners,Python Developer,2-5 Yrs,Not disclosed,https://www.naukri.com/acuity-knowledge-partne...
4,Acuity Knowledge Partners,Python- Machine Learning & LLM,2-6 Yrs,Not disclosed,https://www.naukri.com/acuity-knowledge-partne...
...,...,...,...,...,...
155,Witqualis Technologies,Azure Data Engineer,2-5 Yrs,Not disclosed,https://www.naukri.com/witqualis-technologies-...
156,ZIFF DAVIS PERFORMANCE MARKETING,FP&A Analyst - UK Shift,2-5 Yrs,Not disclosed,https://www.naukri.com/ziff-davis-performance-...
157,ZS,Data Science Associate,1-3 Yrs,7.5-17.5 Lacs PA,https://www.naukri.com/zs-jobs-careers-68320
158,Zoftsolutions,Data Scientist,1-2 Yrs,Not disclosed,https://www.naukri.com/zoftsolutions-jobs-care...
159,fifthnote,Data Scientist,2-5 Yrs,10-18 Lacs PA,https://www.naukri.com/fifthnote-jobs-careers-...

### Query5

In [464]:
print('Suitable jobs - feature counts')
print('-'*50)
for i in df1:
    print(i,' ',df1[i].nunique())

Suitable jobs - feature counts
--------------------------------------------------
company_name   101
job_title   108
experince   16
salary   19
staticurl   101